.feature-section {
  width: 100%;
  padding: 3rem 1.5rem 1rem;
  text-align: center;
  color: var(--main-dark-blue);
}

.feature-section h1 {
  margin-bottom: 1.5rem;
}

.feature-section p {
  margin-bottom: 3rem;
}

.feature-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .feature-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .feature-section {
    padding: 3rem 3rem 1rem;
  }

  .feature-section h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .feature-section p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
    padding: 0 15rem;
  }
}

.feature-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.feature-card .feature-card-img {
  background: var(--main-light-blue);
  border-radius: 0.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.feature-card .feature-card-img > img {
  object-fit: contain;
  width: 100%;
}

.feature-card h3 {
  margin-bottom: 1rem;
}

.feature-card p {
  font-size: 1rem;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .feature-card {
    padding: 0 5rem;
  }
  .feature-card p {
    padding: 0;
  }
}
