.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;
}
.hero-container img {
  width: 19rem;
  margin: 2rem;
}

.hero-container .hero-text {
  text-align: center;
}
.hero-container .hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-container .hero-text p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.hero-container .hero-text .buttons {
  color: var(--main-dark-blue);
}

.hero-container .hero-text .buttons button {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 6rem;
  padding: 10px 16px;
  margin: 0 0.5rem;
  transition: color 200ms ease;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--main-light-blue);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

@media (min-width: 821px) {
  .hero-container {
    flex-direction: row;
  }

  .hero-container img {
    width: 97%;
  }

  .hero-container .hero-text {
    text-align: left;
  }

  .hero-container .hero-text h1 {
    font-size: 4.5rem;
  }

  .hero-container .hero-text p {
    font-size: 2rem;
  }
}

/* login section */

.login {
  margin: 0 2rem;
  background-color: white;
  border-radius: 1rem 0 0 0;
}

.logo-section {
  width: 100%;
  padding: 1rem;
  background-color: var(--main-dark-blue);
  border-radius: 1rem 0 0 0;
  color: white;
}

.form-container {
  padding: 2rem;
  text-align: center;
}
.form-container input {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  color: var(--main-dark-blue);
}

.form-container .check-box-input {
  width: 1.5rem;
  display: flex;
}

.form-container .btn {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  transition: color 200ms ease;
  border: none;
  border-radius: 5px;
  outline: none;
  background: var(--main-light-blue);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.form-container .closeBtn {
  border: none;
  margin-top: 0.6rem;
  background: none;
  color: var(--main-light-blue);
}
