.spinner {
  display: inline;
  width: 2rem;
  height: 2rem;
  margin-right: 2px;
  color: #e6ebf4;
  animation: spin 2s linear infinite;
  fill: #6469ff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
