.search-box input {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .items-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-box input {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .items-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card-container {
  margin-top: 2rem;
  padding: 2rem;
}
