.user-menu-section {
  width: 100%;
  padding: 2rem;
  color: var(--main-dark-blue);
}

.user-menu-section h3 {
  margin-bottom: 2rem;
}

.user-menu-section .menu-hero {
  text-align: center;
}

.user-menu-section .menu-hero h1 {
  margin-bottom: 2rem;
}

.user-menu-section .menu-hero h1 span {
  color: var(--main-light-blue);
}

.user-menu-section .menu-hero p {
  margin-bottom: 2rem;
}

.user-card-container .search-box input {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.search-result-text {
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .user-menu-section {
    padding: 3rem;
  }

  .user-menu-section h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .user-menu-section .menu-hero {
    padding: 0 10rem;
  }

  .user-menu-section .menu-hero p {
    margin-bottom: 3rem;
  }

  .user-card-container .search-box input {
    width: 50%;
    height: 2.5rem;
    padding: 0.7rem;
    margin-bottom: 2rem;
  }
}
