.card {
  position: relative;
}

.card.available::before {
  content: "Not Available at the moment";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-text-container {
  padding: 0 1.5rem 1.5rem;
}

.card-text-container .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-text-container .card-title p {
  font-size: 1.1rem;
  font-weight: 700;
}
